{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "arrowParens": "always",
  "printWidth": 120,
  "quoteProps": "consistent",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "semi": true
}
