{
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "arrowParens": "always",
  "printWidth": 120,
  "quoteProps": "consistent",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "semi": true,
  "importOrder": ["<THIRD_PARTY_TS_TYPES>", "^@sitecore-(.*)$", "^[./]", "<TS_TYPES>^[./]"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
